
    <section id="inicio_profile_presentation" class="presentation">
        <div class="inicio_profile__background"></div>
        <div class="inicio__background"></div>
        <div class="inicio_profile_picture--active">
            <picture class="inicio_profile_picture">
                <source type="image/png" srcset="./assets/perfil.png" />
                <img class="inicio__picture" alt="picture profile" />
            </picture>
        <div class="inicio__description">
             <span class="inicio__title--primary">Hola!</span>
             <h1 class="inicio__title">Soy Marcos Zambrana</h1>
             <span class="inicio__title--secondary">Fronted Developer</span>
        </div>
        </div>
      </section>
