<section class="experience" href="#">
<div class="experience_content">
    <div class="experience__content__left">
        <div class="experience__content__title">
            <h1>Experiencia</h1>
        </div>
        <div class="profile__experience__text">
         <p>Perfil orientado principalmente al backend, estoy en constante aprendizaje</p>
        </div>
    </div>
</div>
<div class="experience__data"></div>
    <div class="experience__content__right">
        <ul class="experience__item">
            <li class="experience__items">
              <span><i class="fa fa-home" aria-hidden="true"></i>
              </span>
            </li>
            <li class="experience_items">
                <span><i class="fa fa-home" aria-hidden="true"></i>
                </span>
              </li>
              <li class="experience_items">
                <span><i class="fa fa-home" aria-hidden="true"></i>
                </span>
              </li>
              <li class="experience_items">
                <span><i class="fa fa-home" aria-hidden="true"></i>
                </span>
              </li>
              <li class="experience_items">
                <span><i class="fa fa-home" aria-hidden="true"></i>
                </span>
              </li>
              <li class="experience_items">
                <span><i class="fa fa-home" aria-hidden="true"></i>
                </span>
              </li>
              <li class="experience_items">
                <span><i class="fa fa-home" aria-hidden="true"></i>
                </span>
              </li>

        </ul>
    </div>
    
</section>
