.experience{
    
}
.experience h1{
    font-weight: 1000;
    color: rgb(33, 33, 192);
}
.experience_content{
    font-family: 'Exo 2', sans-serif;
    position: relative;
    top:10px
}
.experience__content__left{
    position: absolute;
    display: block;
    margin-top:10px;
    margin-left: 10px;
}
.profile__experience_title{
 
}
.profile__experience__text{

}
.experience_data{
    position: relative;
}
.experience__content__right{
    display: flex;
}
.experience__item{
    position: relative;
    font-size: 2em;
    left: 85%;
    padding-left: 10px;
}
.experience__items{
position: absolute;
margin: 20px;
left:20px
}
.experience__items span{
    display: flex;
    position: relative;
    overflow: hidden;
}


